// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

strong {
    font-weight: bold;
}

input
{
    font-family: auto;
    line-height: 15px;
}

.address>strong {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}
